body {
    margin: 0;
    padding: 0;
    background: white; 
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.login_box{
    width: 420px;
    height: 420px;
    background: #59d8da;
    color: #fff;
    top: 50%;
    left: 65%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
}
.login_box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: calc(50% - 50px);
}
.login_box{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login_box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login_box input{
    width: 80%;
    margin-bottom: 20px;
}
.login_box input[type = "text"],
.login_box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login_box button{
    width: 60%;
    border: none;
    outline: none;
    height: 40px;
    background: #f00420;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login_box button:hover{
    background-color: #b80f23b3;
}
.login_box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.login_box a:hover{
    color: blue;
}
.login_box_left{
    width: 500px;
    height: 420px;
    background: white;
    top: 50%;
    left: 35%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    margin: 0;
}
.login_box_left .login_imagen{
    width: 500px;
    height: 420px;
    position: absolute;
    margin: 0;
}